server:
  port: 8085

spring:
  application:
    name: cart-service
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/cart_db?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: sa
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
  flyway:
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
