.guest-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 0;
  margin-left: 0 !important; /* Ghi đè margin-left từ styles.scss */
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
